.navbar-container {
  font-size: 18px;
  margin: 10px 10px;
  position: fixed;
  border-radius: 0.428rem;
  display: flex;
  padding: 1px;
  align-items: center;
  max-height: 80px;
  min-height: 80px;

  width: calc(100% - 110px);
}

.navbar-responsive-container {
  display: none;
  font-size: 18px;
  margin-top: 80px;
  padding-bottom: 0px;
}

.navbar-responsive-container.active {
  display: block;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  margin-right: 30px;
  align-items: center;
  width: 50%;
}

.navbar-responsive-nav {
  list-style-type: none;
  display: none;
}

.navbar-responsive-nav li {
  text-align: center;
  margin: 15px auto;
}

.nav-links {
  text-decoration: none;
}

.navbar-logo {
  margin-right: 30px;
}

.navbar-user {
  list-style-type: none;
  display: flex;
  margin-right: 30px;
  align-items: flex-end;
  right: 0;
  position: absolute;
}

.navbar-user a {
  color: #020635;
}

.navbar-toggle {
  display: none;
}

@media screen and (max-width: 500px) {
  .navbar-container {
    margin: 10px 10px;
  }

  .navbar-responsive-nav {
    display: block;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbar-responsive-nav li {
    margin: 0;
  }

  .nav-links {
    margin: 0;
  }

  .navbar-logo {
    display: none;
  }

  .navbar-toggle {
    display: block;
    margin-left: 30px;
  }

  .navbar-user {
    margin-right: -30px;
  }
}
