.navbar-aside-container {
  z-index: 1031;
  --sidebar-width: 4.2em;
  height: 100vh;
  left: 0;
  width: var(--sidebar-width);
  background-color: #020635;
  position: fixed;
  transition: width 0.2s ease;
}

.navbar-aside-menu {
  font-size: 1.1rem;
  font-family: 'Montserrat', Helvetica, Arial, serif;
  font-weight: 400;
  overflow-y: hidden;
  overflow-x: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.75rem;
}

.navbar-aside-menu.header-brand {
  margin-top: 1rem;
}

.navbar-aside-menu li {
  position: relative;
  white-space: nowrap;
  margin-bottom: 18px;
}

.navbar-aside-menu li.active {
  z-index: 1;
}

.navbar-aside-menu li a {
  color: #6d6f97;
  margin: 0 15px;
  padding: 10px 15px 10px 15px;
  line-height: 1.45;
  text-overflow: ellipsis;
  overflow: hidden;
  align-items: center;
  width: calc(260px - 35px);
  display: flex;
}

.navbar-aside-container:not(.expanded) li a {
  width: 50px;
}

.navbar-aside-container ul.navbar-aside-menu:not(.header-brand) li:hover a > * {
  transition: transform 0.25s;
  transform: translateX(5px);
}

.navbar-aside-menu li a svg {
  margin-right: 1.1rem;
}

.navbar-aside-menu li.active a {
  color: #dcdcdc;
  background: linear-gradient(118deg, #7367f0, #7367f0b3);
  box-shadow: 0 0 10px 1px rgb(115 103 240 / 70%);
  border-radius: 4px;
}

.navbar-aside-container:not(.expanded) li.active a {
  background: #292f78;
  box-shadow: none;
}

ul.navbar-aside-menu:not(.header-brand) li:first-child {
  margin-top: 0.5rem;
}

.navbar-aside-menu .navbar-aside-logo {
  color: #7367f0;
}

.navbar-aside-menu.header-brand li a {
  color: #7367f0;
}

.navbar-aside-container.expanded {
  width: 260px;
}

.navbar-aside-container .shadow-bottom {
  display: none;
  position: absolute;
  z-index: 2;
  height: 50px;
  width: 100%;
  pointer-events: none;
  filter: blur(5px);
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .navbar-aside-container {
    display: table-cell;
  }
}

@media screen and (max-width: 500px) {
  .navbar-aside-container {
    display: none;
  }
}
