.SecretPageSection{
    display: grid;
    width: 100%;
    grid-template-columns: 2% 60% 2% 34% 2%;
    grid-template-rows: 50px calc(66vh - 95px) 2vh 30vh 2vh;
    overflow: hidden;
}
.SPWelcomeSign{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: Bolder;
}

.SPWelcomeSign a{
    color: brown;
    margin-left: 30px;
    font-weight: bolder;
}

.SPWelcomeSign a:hover{
    color: red;
}

.SPCurrentVideo{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
}

.SPCurrentVideo iframe{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.SPFavoriteVideos{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    overflow-y: scroll;
}

.SPFavoriteVideo{
    display: grid;
    width: 100%;
    grid-template-columns: 4fr 8px 6fr;
    grid-template-rows: 50px 30px 40px 8px;
}

.SPFavoriteVideo img{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.SPFavoriteVideo .title{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 15px;
    font-weight: bolder;
    line-height: 17px;
}

.SPFavoriteVideo .channel{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}


.SPVideoDetails{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15px 40px 30px 10px 1fr;
}

.SPVideoDetails .channel{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.SPVideoDetails .description{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

.SPVideoDetails .title{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 40px;
    font-weight: bolder;
}

.SPVideoDetails time{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: end;
}
.secretDark{
    color: rgb(200, 200, 200);
}

@media only screen and (max-width: 1300px) {
    .SecretPageSection {
        grid-template-columns: 2% 50% 2% 44% 2%;
        grid-template-rows: 50px calc(66vh - 95px) 2vh 30vh 2vh;
    }
}

@media only screen and (max-width: 1050px) {
    .SPFavoriteVideo .channel{
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

@media only screen and (max-width: 1050px) {
    .SPFavoriteVideo .channel{
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

@media only screen and (max-width: 1000px) {
    .SPVideoDetails{
        grid-template-rows: 15px auto 30px 10px 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .SecretPageSection{
        grid-template-columns: 3% 94% 3%;
        grid-template-rows: 50px calc(90vh - 95px) auto 2vh;
    }
    .SPFavoriteVideos{
        justify-self: stretch;
        align-self: stretch;
        width: 100%;
        height: 100%;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        overflow-y: scroll;
    }
    .SPCurrentVideo{
        justify-self: stretch;
        align-self: stretch;
        width: 100%;
        height: 100%;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60% 40%;
    }
    
}

.displayNone{
    display: none;
}