.videoBox{
    display: block;
    width: 310px;
    margin: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 2px 1px rgba(161,162,158,1);
    -moz-box-shadow: 0px 2px 2px 1px rgba(161,162,158,1);
    box-shadow: 0px 2px 2px 1px rgba(161,162,158,1);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 157px 10px auto 80px auto; 
    overflow: hidden;
}
.imageBox{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    
}
.videoBox img{
    width: 310px;
    position: relative;
}

.titleSection{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    
}


.VBadditional{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 40px 40px;
}

.VBadditional .statistics{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.VBadditional .statistics .likeCount{
    margin-right: 15px;
    font-size: 13px;
}

.VBadditional .statistics .likeCount svg{
    font-size: 25px;
    font-weight: lighter;
}

.VBadditional .statistics .dislikeCount{
    margin-right: 15px;
    font-size: 13px;
}

.VBadditional .statistics .dislikeCount svg{
    font-size: 25px;
    font-weight: lighter;
}

.VBadditional .statistics .viewCount{
    margin-right: 15px;
    font-size: 13px;
}

.VBadditional .statistics .viewCount svg{
    font-size: 25px;
    font-weight: lighter;
}

.VBadditional .statistics .commentCount{
    font-size: 13px;
}

.VBadditional .statistics .commentCount svg{
    font-size: 25px;
    font-weight: lighter;
}

.VBadditional .channel{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 35px;
    font-weight: bolder;

}

.VBadditional .commentpublished{
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    line-height: 35px;
    font-size: 13px;
    text-align: end;
}

.descSection{
    display: none;
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

@media only screen and (max-width: 900px) {
    .videoBox{
        width: 310px;
    }
  }

time{
    color: gray;
}