a {
  text-decoration: none;
}

.clip {
  cursor: pointer;
  text-decoration: none;
}

.clip section.preview-container {
  position: relative;
}

.clip section.preview-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.428rem;
}

.clip .overlay-preview {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.clip .play-icon {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 60px;
  margin: auto;
  opacity: 0;
  transition: opacity 0.5s;
  display: block;
}

.clip .play-icon svg {
  fill: #fff;
}

.clip.show-play-icon .play-icon {
  opacity: 0.8;
}

.clip .time-status {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  right: 10px;
  bottom: 75px;
  margin: 4px;
  color: #fff;
  /* font-family: Roboto; */
  font-weight: 500;
  font-size: 11px;
  display: inline-block;
  padding: 1px 4px;
  border-radius: 2px;
}

.clip .watch-later-button {
  transition: opacity 0.5s;
  border-radius: 2px;
  opacity: 0;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  padding: 0;
  background-color: #000;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  padding: 2px;
}

.clip .watch-later-button svg {
  fill: #fff;
}

.clip .content-container {
  /* font-family: Roboto; */
  padding-top: 10px;
  padding-right: 24px;
  position: relative;
}

.clip .content-container h3 {
  display: -webkit-box;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 5px;
  color: #3d4055;
}

.clip .content-container footer .channel-name {
  margin: 0;
  font-size: 12px;
  /* font-family: Roboto; */
  color: #73768d;
  display: block;
  width: 100%;
}

.clip .content-container footer .channel-name:hover {
  color: rgba(18, 18, 18, 0.8);
}

.clip .content-container footer .meta p {
  font-size: 12px;
  display: inline-block;
  margin: 0;
  color: #606060;
}

.clip .content-container footer .meta p:first-child:after {
  display: inline-block;
  content: '•';
  margin: 0 4px;
}

.clip .content-container .more-button {
  opacity: 1;
  width: 23px;
  height: 23px;
  border: 0;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 0;
  cursor: pointer;
}

.clip:hover.watch-later-button,
.clip:hover.more-button {
  opacity: 1;
}

.clip.hoverable.preview {
  opacity: 1;
}

.clip .content-container .more-button svg {
  fill: #909090;
}

.clip .content-container .more-button:hover svg {
  fill: #606060;
}

svg.style-scope {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
}

.video-wrapper {
  width: 21.3vw;
}

/* Laptops */
@media all and (min-width: 1680px) {
  .video-wrapper {
    width: 20vw;
  }
}

/* Laptops */
@media all and (max-width: 1592px) and (min-width: 1441px) {
  .video-wrapper {
    width: 20.4vw;
  }
}

/* Laptops */
@media all and (max-width: 1440px) and (min-width: 1201px) {
  .video-wrapper {
    width: 20.4vw;
  }
}

/* Laptops */
@media all and (max-width: 1200px) and (min-width: 1025px) {
  .video-wrapper {
    width: 40vw;
  }
}

/* Laptops */
@media all and (max-width: 1024px) and (min-width: 769px) {
  .video-wrapper {
    width: 40vw;
  }
}

/* iPad */
@media all and (max-width: 768px) and (min-width: 481px) {
  .video-wrapper {
    width: 37.8vw;
  }
}

/* Mobile */
@media all and (max-width: 480px) and (min-width: 320px) {
  .video-wrapper {
    width: 79vw;
  }
}

/* Mobile */
@media all and (max-width: 319px) and (min-width: 280px) {
  .video-wrapper {
    width: 73vw;
  }
}
